#products-list{
	display: flex;
	flex-wrap: wrap;
}
.product-wrapper{
	padding: 15px 10px;
	margin: 10px;
	width: 250px;
	/*min-height: 300px;
	max-height: 500px;*/
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.product-wrapper img{
	max-width: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.pagination{
	list-style: none;
	padding: 0;
	margin: none;
}
.pagination li{
	display: inline-block;
	padding: 10px;
	margin: 10px;
	border-right: 5px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	cursor: pointer;
}
.pagination li.active{
	box-shadow: none;
}